$mainColor: #76BA99;
$secondaryMainColor: hsl(140, 29%, 65%);
$assetColor: #CED89E;
$secondaryAssetColor: #ECB390;
$mainTextColor: #FCF8E8;
$secondaryTextColor: #FFDCAE;
$mintColor: rgb(226, 226, 226);
$dark: rgb(70,17,20, 0.9)