@use 'colors' as *;
@use 'animations' as *;

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

header .wrapper {
    position: absolute;
	left: 50%;
    height: 100%;
    width: 100%;
	transform: translateX(-50%);
    z-index: 5;
}

.visible {
	visibility: visible;
}

.section {
	padding: 4em 2em;


	&__heading {
		display: inline;
		font-size: 4rem;
		text-transform: uppercase;

		span {
			color: $darkMainColor;
		}
	}
	
	&:nth-child(odd){
		.section__heading {
			color: $darker;
			background-color: $secondaryMainColor;
	
			span {
				color: $darkMainColor;
			}
		}
	}

	&:nth-child(even){
		background-color: $darkMainColor;
		.section__heading {
			color: $mainTextColor;
			background-color: $lightDarkMain;
		}
	}
}

.bg-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(#5e634ac2, 0.3);
	z-index: 1;

	&--nav {
		background-color: rgba(#5e634ac2, 0.9);
	}
}
.burger-btn-x,
.burger-btn {
	position: fixed;
	top: 1%;
	left: 2%;
	width: 4em;
	height: 4em;
	font-size: 2rem;
	z-index: 110;

	visibility: visible;
	transform: rotate(0) skew(0) scale(1);
	opacity: 1;
	transition: visibility 0.9s, transform 0.9s, opacity 0.9s;
}

.burger-btn-x {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 70%;
	}
}

.burger-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;

	&__bars,
	&::before,
	&::after {
		width: 70%;
		height: 0.3em;
		background-color: $mintColor;
		border-radius: 5px;
	}

	&::before,
	&::after {
		content: '';
	}

	&::before {
		width: 50%;
	}

	&::after {
		width: 60%;
	}
}

.burger-btn-bg {
	display: block;
	position: fixed;
	top: 0;
	height: calc(3% + 4em);
	width: 100%;
	z-index: 109;
	background-color: rgba($dark, 0.8);
	transform: translateX(100%);
	transition: transform .5s;
}

.header-arrow {
	display: none;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 18vw;
	max-width: 80px;
	height: 18vw;
	max-height: 80px;
	border: 6px solid $assetColor;
	border-radius: 25%;
	z-index: 5;
	animation: glide 2s infinite;

	&__content {
		width: 100%;
	}
}

.star-bg-asset {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-30%) rotate(-100deg);
	font-size: 20rem;
	color: $darkish;
	z-index: 2;
}