@use 'index.scss' as *;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Heebo', sans-serif;
	background-color: $mainColor;
	color: $mainTextColor;
	font-size: 1.6rem;
}

//nav

.nav-mobile {
	opacity: 1;
	overflow: visible;
	&__links {
		position: fixed;
		top: 0;
		transform: translateX(-100%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100vh;
		background-image: url('../img/terraria-mobile-bg.png');
		background-size: cover;
		background-position: center;
		background-color: $mintColor;
		z-index: 100;
		transition: 1s transform;
	}

	&__title,
	&__link {
		transform: translateX(-150%);
	}

	&__title {
		width: 100%;
		padding: 0.25em;
		font-size: 5rem;
		font-weight: bold;
		text-transform: lowercase;
		text-align: center;
		background-color: rgba($secondaryAssetColor, 0.8);
		color: $dark;
		z-index: 110;
		transition: 1s transform;
	}

	&__link {
		width: 100%;
		color: $mainTextColor;
		text-align: center;
		font-size: 3rem;
		text-decoration: none;
		text-transform: lowercase;
		font-weight: bold;
		padding: 0.05em;
		z-index: 110;
		transition: 1.2s transform;

		&:nth-child(odd) {
			background-color: rgba($mainColor, 0.6);
		}

		&:nth-child(even) {
			background-color: rgba($secondaryMainColor, 0.6);
		}
	}
}

.nav-desktop {
	display: none;
	position: sticky;
	top: 0;
	width: 100%;
	background-image: linear-gradient(30deg, $dark, $darker);
	z-index: 1000;

	&__links {
		display: flex;
		align-items: center;
		font-family: 'Heebo', sans-serif;
		text-align: center;
	}

	&__link {
		font-size: 2.5rem;
		display: block;
		transform: scale(1);
		width: 100%;
		padding: 1rem 1rem;
		text-decoration: none;
		font-weight: bold;
		color: $mintColor;
		transition: color 0.3s, background-color 0.3s;

		&:first-child &-text {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $assetColor;
		}

		&:hover {
			color: $dark;
			background-color: $mintColor;
		}

		&-icon {
			height: 3rem;
		}

		&-home {
			font-weight: bold;
			text-transform: uppercase;
		}

		&-text {
			display: block;
			transition: transform 0.3s;
		}
	}
}

//header

.header {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('../img/terraria-bg-big.png');
	background-size: cover;
	background-position: center;
	opacity: 1;
	overflow: hidden;

	&__box {
		position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-bottom: 2rem;
		z-index: 5;
	}

	&__logo {
		position: relative;
		background-image: url('../img/terraria-logo.jpg');
		background-size: cover;
		background-position: center;
		width: 50%;
		height: 50%;
		border-radius: 10px;
		box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
		filter: hue-rotate(0deg);
		overflow: hidden;
		animation: colorChange 5s infinite;

		&--shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(#5e634ac2, 0.3);
			z-index: 1;
		}
	}

	&__title {
		padding: 0.3em 1em;
		font-size: 3.5rem;
		font-weight: bold;
		line-height: 4rem;
		text-align: center;

		span {
			color: $assetColor;
			font-size: 1.1em;
		}
	}

	&__shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(39, 87, 26, 0.548);
		z-index: 2;
	}

	&__asset {
		position: absolute;

		&--leaf-one {
			display: none;
			left: -1%;
			font-size: 27rem;
			animation: waveLeft 40s infinite ease-in-out;
		}

		&--leaf-two {
			display: none;
			right: -1.5%;
			bottom: -10%;
			font-size: 26rem;
			animation: wave 50s infinite reverse ease-in-out;
		}

		&--star-one {
			display: none;
			right: -3%;
			top: 10%;
			font-size: 22rem;
			animation: rotate 70s infinite reverse linear;
		}

		&--star-two {
			display: none;
			left: -5%;
			bottom: 5%;
			font-size: 25rem;
			animation: rotate 80s infinite linear;
		}
	}
}

.welcome {

	&__text {
		margin-top: 1em;
		padding: 0.5em 0.5em;
		color: $mainTextColor;
		background-color: $darker;
		border-radius: 10px;
		box-shadow: 5px 5px 5px rgba($darker, 0.5);
		font-size: 2.5rem;
		font-family: 'Cinzel', serif;
		font-family: 'Work Sans', sans-serif;
		opacity: 0;
		transition: opacity .7s;

		&--highlight {
			color: $assetColor;
			font-weight: bold;
			letter-spacing: 2px;
		}

		&:nth-child(2) {
			margin-top: 4em;
		}

		&:nth-child(3) {
			background-color: $dark;
			color: $mintColor;

			.welcome__text--highlight {
				color: $secondaryAssetColor;
			}
		}
	}
}

@import 'breakpoints/small.scss';
@import 'breakpoints/medium.scss';
@import 'breakpoints/big.scss';
