@media (min-width: 768px) {
	.nav-mobile__links,
	.burger-btn,
	.burger-btn-x,
	.burger-btn-bg {
		display: none;
	}

	.nav-desktop {
		display: block;
	}

	.section {
		padding: 6em 2em;
	}

	.header {
		&__title {
			font-size: 6rem;
			line-height: 0.9em;
		}

		&__logo {
			background-position: top;
		}

		&__asset {
			&--leaf-one {
				font-size: 8rem;
				top: 10%;
				display: inline;
			}

			&--leaf-two {
				font-size: 9rem;
				bottom: 10%;
				display: inline;
			}

			&--star-one {
				font-size: 11rem;
			}

			&--star-two {
				font-size: 13rem;
			}
		}
	}

	.tutorials {
		&__comment {
			font-size: 2.7rem;
		}

		&__hyperlink {

			&-logo,
			&-logo::before,
			&-logo::after{
				height: 9em;
				width: 9em;
			}
		}
	}
}

@media (min-width: 992px) {
	.section {
		padding: 7em 2em;
		&__heading {
            font-size: 6rem;
        }
	}
	
	.header {
		&__logo {
			width: 30%;
		}

		&__asset {
			&--leaf-one {
				font-size: 13rem;
				top: 10%;
			}

			&--leaf-two {
				font-size: 14rem;
			}

			&--star-one {
				font-size: 17rem;
			}

			&--star-two {
				font-size: 16rem;
			}
		}
	}
	.nav-desktop {
		&__link {
			font-size: 3rem;

			&-icon {
				height: 3.5rem;
			}
		}
	}

	.welcome {
        &__text {
            margin-top: 1.5em;
            font-size: 3.3rem;

            &:nth-child(2) {
                margin-right: 4.3em;
            }

            &:nth-child(4) {
                margin-left: 5.8em;
            }
        }
    }

	.tutorials {
        &__box {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        &__comment {
            max-width: none;
            margin-top: 1.5em;
            &:nth-child(1){
                grid-row: 1 / 2;
                grid-column: 1 / 7;
            }

            &:nth-child(2){
                margin-top: 3em;
                grid-row: 1 / 2;
                grid-column: 8 / 13;
            }

            &:nth-child(3){
                grid-row: 2 / 3;
                grid-column: 4 / 11
            }
        }

        &__hyperlink {
            grid-row: 3 / 4;
            grid-column: 4 / 7;
        }

		&__video {
			display: block;
			grid-row: 3 / 4;
			grid-column: 8 / 13
		}
    }

}
