@media (min-width: 768px) {
	.nav-mobile__links,
	.burger-btn,
	.burger-btn-x,
	.burger-btn-bg {
		display: none;
	}

	.nav-desktop {
		display: block;
	}

	.header {
		&__title {
			font-size: 6rem;
			line-height: 0.9em;
		}

		&__logo {
			background-position: top;
		}

		&__asset {
			&--leaf-one {
				font-size: 8rem;
				top: 10%;
				display: inline;
			}

			&--leaf-two {
				font-size: 9rem;
				bottom: 10%;
				display: inline;
			}

			&--star-one {
				font-size: 11rem;
			}

			&--star-two {
				font-size: 13rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.section {
		&__heading {
            font-size: 6rem;
        }
	}
	
	.header {
		&__logo {
			width: 30%;
		}

		&__asset {
			&--leaf-one {
				font-size: 13rem;
				top: 10%;
			}

			&--leaf-two {
				font-size: 14rem;
			}

			&--star-one {
				font-size: 17rem;
			}

			&--star-two {
				font-size: 16rem;
			}
		}
	}
	.nav-desktop {
		&__link {
			font-size: 3rem;

			&-icon {
				height: 3.5rem;
			}
		}
	}

	.welcome {
        &__text {
            margin-top: 1.2em;
            font-size: 3.3rem;

            &:nth-child(2) {
                margin-right: 4.3em;
            }

            &:nth-child(4) {
                margin-left: 5.8em;
            }
        }
    }
}
